
@media screen and (min-width: 1024px ) {
    .adv-item-row .adv-item:nth-of-type(3n-1) .adv-item-inner{
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    .adv-item{
        border-bottom: 1px solid black;
    }


}



/*ПЛАНШЕТ*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 720px;
    }

    .adv-item-row .adv-item:nth-of-type(odd){
        border-right: 1px solid black;
    }


    .header-section{
        background-image: url("../img/main-768.png");
    }

    .nav-menu{
        order: -1;
        flex-grow: 1;
        width: 30px;
    }



    .nav-menu nav li{
        display: block;
        text-align: center;
    }

    .nav-menu nav ul{
        display: none;
    }



    .nav-menu nav ul li{
        display: block;
    }

    .menu-trigger{
        display: block;
    }

    .logo{
        flex-grow: 1;
        padding-right: 0px;
    }

    .reg-col{
        display: none;
    }

    .timer{
        flex-basis: 100%;
        text-align: center;
    }

    .timer h1{
        text-align: center;
    }

    #timerd427d058323a21ad0f00457f6e6e286a{
        text-align: center !important;
    }

    .timer .timer-text{
        text-align: center;
    }

    .timer h2{
        text-align: center;
        transform: translateY(-100%);
    }

    .img-text{
        font-size: 17px;
    }

    .save-money-item2{
        flex-basis: 44%;
    }

    .save-money-section .save-money-item1{
        flex-basis: 70%;
        margin-top: 51px;
    }

    .save-money-item1 .save-money-item-text:after{
        left: 0;
    }

    .save-money-section{
        padding-bottom: 30px;
    }

    .save-money-wraper{
        background-position: 100%;
    }

    .tovxin-description-flex{
        flex-direction: column;
    }

    .tovxin-desc-item{
        display: flex;
        justify-content: center;
    }

    .tovxin-description-flex .tovxin-desc-text-item h2{
        margin-bottom: 30px;
    }

    .tovxin-desc-text-item .tovxin-desc-text{
        margin-bottom: 25px;
    }

    .tovxin-desc-reg{
        display: flex;
        justify-content: center;
    }
    .calendar-section .calendar-flex-row .calendar-flex-col .calendar-item2{
        display: none;
    }

    .calendar-section .calendar-flex-row .calendar-flex-col .calendar-item1{
        width: 100%;
    }

    .adv-item-row .adv-item{
        flex-basis: 50%;
        height: 170px;
        margin-bottom: 55px;
    }

    .adv-item-row1:after{
        display: none;
    }

    .img-index{
        padding-left: 0;
        padding-right: 0;
    }

    .adv-item-row .adv-item3{
        border-left: 0;
        border-right: 1px solid #d9d9d9;
    }

    .adv-item-row .adv-item1{
        order: 1;
    }

    .adv-item-row .adv-item2{
        order: 2;
    }

    .adv-item-row .adv-item3{
        order: 3;
        border-right: 0;
    }



    .adv-item-row .adv-item4{
        order: 2;
    }

    .adv-item-row .adv-item5{
        order: 2;
    }

    .adv-item-row .adv-item6{
        order: 6;
    }











}

/*Desktop*/

@media only screen and (min-width: 1024px) and (max-width: 1199px){
    .container {
        width: 920px;
    }

   .reg-col .form-header h1{
        font-size: 23px;
    }

    .reg-col .form-header h1 span{
        font-size: 23px;
        padding-left: 0;
    }
    .bonus{
        bottom: -76px;
        right: -56px;
    }

    .reg-col form .email{
        font-size: 15px;
    }

    .reg-col form .cellphone{
        font-size: 15px;
    }

    .reg-col form label{
        font-size: 9px;
    }

    .submit-button{
        font-size: 14px;
    }
    .h1{
        font-size: 16px;
    }

    .timer h1{
        font-size: 30px;
    }

    .timer .timer-text{
        font-size: 20px;
    }

    .timer h2{
        font-size: 20px;
    }

    .button{
        font-size: 14px;
    }

    .save-money-section .save-money-item1 h2{
        font-size: 30px;
    }

    .save-money-item1 .save-money-item-text{
        font-size: 15px;
    }

    .tovxin-desc-text-item .tovxin-desc-text{
        font-size: 15px;
    }

    .tovxin-description-flex .tovxin-desc-text-item h2{
        font-size: 30px;
    }

    .save-money-item1 .save-money-item-text:after{
        font-size: 150px;
        left: -56px;
        bottom: -104px;
    }

    .calendar-section .calendar-flex-row .calendar-flex-col h3{
        font-size: 16px;
    }

    .calendar-section .calendar-flex-row .calendar-flex-col .calendar-text{
        font-size: 16px;
    }

    .calendar-section .calendar-flex-row .calendar-flex-col .calendar-item2{
        top: -76px;
        right: 30px;
    }

    .calendar-item2 img{
        height: 450px;
    }

    .adv-item-row .adv-item h3 {
        font-size: 13px;
    }

    .adv-item-row .adv-item .adv-item-text{
        font-size: 13px;
    }

    .footer-sec-flex h2{
        font-size: 35px;
    }

    .footer-sec-flex .text-footer{
        font-size: 25px;
    }

}


@media only screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }



}



@media only screen and (max-width: 767px ) {
    .container {
        width: 100%;
    }


    .header-section{
        background-image: url("../img/main-320.png");
    }

    .nav-menu{
        order: -1;
        flex-grow: 1;
        width: 30px;
    }



    .nav-menu nav li{
        display: block;
        text-align: center;
    }

    .nav-menu nav ul{
        display: none;
    }



    .nav-menu nav ul li{
        display: block;
    }

    .menu-trigger{
        display: block;
    }

    .logo{
        flex-grow: 1;
        padding-right: 0px;
    }

    .reg-col{
        display: none;
    }

    .timer{
        flex-basis: 100%;
        text-align: center;
    }

    .timer h1{
        text-align: left;
        font-size: 27px;
    }

    #timerd427d058323a21ad0f00457f6e6e286a{
        text-align: left !important;
    }

    .timer .timer-text{
        text-align: left;
        font-size: 20px;
    }

    .open-alert{
        display: none ;
    }

    .flex-row{
        flex-direction: column;
    }

    .how-it-works-section:after{
        display: none;
    }

    .how-it-works-h2 h2{
        font-size: 20px;
    }

    .img-box img{
        margin-bottom: 11px;
    }

    .img-index:after{
        content: "";
        width: 3px;
        height: 37px;
        background-color: #f8c51c;
        position: absolute;
        left: 50%;
    }



    .img-box{
        margin-bottom: 12px;
    }



    .img-item-mg{
        margin: 0;
    }


    .timer h2{
        text-align: left;
        transform: translateY(0);
        font-size: 20px;
    }

    .img-text{
        font-size: 20px;
    }

    .save-money-item2{
        flex-basis: 44%;
    }

    .save-money-section .save-money-item1{
        flex-basis: 70%;
        margin-top: 51px;
    }

    .save-money-item1 .save-money-item-text:after{
        left: 0;
    }

    .save-money-section{
        padding-bottom: 30px;
    }

    .save-money-wraper{
        background-position: 100%;
    }

    .tovxin-description-flex{
        flex-direction: column;
    }

    .tovxin-desc-item{
        display: flex;
        justify-content: center;
    }

    .tovxin-description-flex .tovxin-desc-text-item h2{
        margin-bottom: 30px;
    }

    .tovxin-desc-text-item .tovxin-desc-text{
        margin-bottom: 25px;
    }

    .tovxin-desc-reg{
        display: flex;
        justify-content: center;
    }
    .calendar-section .calendar-flex-row .calendar-flex-col .calendar-item2{
        display: none;
    }

    .calendar-section .calendar-flex-row .calendar-flex-col .calendar-item1{
        width: 100%;
    }

    .adv-item-row .adv-item{
        flex-basis: 50%;
        height: 170px;
        margin-bottom: 55px;
    }

    .adv-item-row1:after{
        bottom: 69%;
        width: 110%;
        transform: translate(-6%, 0);
    }

    .img-index{
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 50px;
    }

    .adv-item-row .adv-item3{
        border-left: 0;
        border-right: 1px solid #d9d9d9;
    }

    .adv-item-row .adv-item1{
        order: 1;
    }

    .adv-item-row .adv-item2{
        order: 2;
    }

    .adv-item-row .adv-item3{
        order: 3;
        border-right: 0;
    }

    .adv-item-row .adv-item3:after{
        content: "";
        height: 1px;
        background-color: #d9d9d9;
        position: absolute;
        width: 112%;
        bottom: 36%;
        transform: translate(-30%, 0);
    }

    .adv-item-row .adv-item4{
        order: 2;
    }

    .adv-item-row .adv-item5{
        order: 2;
    }

    .adv-item-row .adv-item6{
        order: 6;
    }

}

