*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#timerd427d058323a21ad0f00457f6e6e286a{
    text-align: left !important;
    margin-bottom: 20px;
}

#timer-text-d427d058323a21ad0f00457f6e6e286a-days, #timer-text-d427d058323a21ad0f00457f6e6e286a-hours,
#timer-text-d427d058323a21ad0f00457f6e6e286a-minutes, #timer-text-d427d058323a21ad0f00457f6e6e286a-secundes{
    text-align: center !important;
}

#timerd427d058323a21ad0f00457f6e6e286a .timer-flipchart-face{
    background-color: #fff !important;
}


.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}



.row{
    margin-right: -15px;
    margin-left: -15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.col{
    min-height: 1px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;

}

body{
    font-family: "HelveticaNeue", sans-serif;
}


.header-section{
    background-image: url("../img/main.png");
    padding-bottom: 146px;
}

.header-section .logo a{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    text-align: left;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header-section .logo a span{
    color: #fff;
}

.navigation{
    padding-top: 30px;
    padding-bottom: 95px;
}

.nav-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.nav-menu a{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
}

.lang{
    position: absolute;
    top: 10px;
    right: 0;

}

.logo{
    padding-right: 50px;
}

.nav-menu nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu nav ul li{
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}


/*Header content*/

.header-content-block{
    display: flex;
    justify-content: space-between;
}

.h1{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f8c51c;
    padding-right: 2px;
    padding-left: 2px;
}

/*HEADER CONTENT --TIMER--*/



.timer:first-of-type a{
    margin-right: 9px;
}

.timer h1{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.78;
    letter-spacing: 2.7px;
    text-align: left;
    color: #f8c51c;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;

}

.timer h1 span{
    text-transform: lowercase;
    color: #ffffff;
}

.timer .timer-text{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.3px;
    text-align: left;
    color: #ffffff;
    text-transform: lowercase;
}

.timer h2{
    font-family: "HelveticaNeueBold", sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.3px;
    text-align: left;
    color: #f8c51c;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
}

.button{
    display: inline-block;
    padding: 15px 12px;
    border: 1px solid #f8c51c;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #f8c51c;
    font-family: "HelveticaNeue", sans-serif;
}

.open-alert{
    background-color: rgba(248, 197, 28, 0);
}

.open-alert:hover{
    background-color: #f8c51c;
    transition-duration: 0.3s;
}

/*HEADER-CONTENT-REGISTRATION*/


.reg-col .form-header{
    background-color: #333;
    border-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 11px;
    position: relative;
}

.bonus{
    position: absolute;
    bottom: -60px;
    right: -35px;
}

.reg-col .form-header h1{

    font-family: "HelveticaNeueCondensedBold";
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.reg-col .form-header h1 span{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 25px;
}

.reg-col form{
    background-color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#accept{
    display: none;
}

.reg-col form .footer-form{
    text-align: center;
}

.reg-col form .email{
    width: 100%;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: solid 1px #dbdbdb;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    margin-bottom: 15px;
}

.reg-col form .cellphone{
    width: 100%;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: solid 1px #dbdbdb;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    margin-bottom: 15px;
}

.submit-button{
    color: #000;
    margin-top: 40px;
    cursor: pointer;
    font-family: "HelveticaNeueCondensedBold", sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #333333;
}


.reg-col form label{
    font-family: "HelveticaNeueLight", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #8f8f8f;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    line-height: 25px;

}

.reg-col form label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    border-radius: 2px;
}

.down{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -231px;
}

.reg-col form #accept:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #f8c51c;
    border-radius: 2px;
}

.reg-col form #accept{
    display: none;
}

.header-cont{
    position: relative;
}

.how-it-works-section{
    padding-top: 103px;
    padding-bottom: 80px;
    position: relative;
}

.how-it-works-section:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f8c51c;
    position: absolute;
    bottom: 41%;
}


.how-it-works-h2{
    text-align: center;
}

.how-it-works-h2 h2{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.78;
    letter-spacing: 2.7px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.flex-row{
    display: flex;
    justify-content: center;
}



.img-item-mg{
    margin-right: 15%;
    margin-left: 15%;
}

.img-box{
    text-align: center;
}

.img-text{
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #333333;
}

.img-index{
    z-index: 10;
}

.intro-reg-form{
    width: 20%;
}