*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#timerd427d058323a21ad0f00457f6e6e286a{
    text-align: left !important;
    margin-bottom: 20px;
}

#timer-text-d427d058323a21ad0f00457f6e6e286a-days, #timer-text-d427d058323a21ad0f00457f6e6e286a-hours,
#timer-text-d427d058323a21ad0f00457f6e6e286a-minutes, #timer-text-d427d058323a21ad0f00457f6e6e286a-secundes{
    text-align: center !important;
}

#timerd427d058323a21ad0f00457f6e6e286a .timer-flipchart-face{
    background-color: #fff !important;
}


.clear-fix:after {
    content: "";
    display: table;
    clear: both;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1170px;
}



.row{
    margin-right: -15px;
    margin-left: -15px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.col{
    min-height: 1px;
    float: left;
    padding-left: 15px;
    padding-right: 15px;

}

body{
    font-family: "HelveticaNeue", sans-serif;
}


.header-section{
    background-image: url("../img/main.png");
    background-size: cover;
    padding-bottom: 146px;
}

.header-section .logo a{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    text-align: left;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header-section .logo a span{
    color: #fff;
}

.navigation{
    padding-top: 30px;
    padding-bottom: 95px;
}

.nav-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
}








.nav-menu nav {
    width: 100%;
}

.nav-menu nav li{
    display: inline-block;
}

.nav-menu nav a{
    display: block;
    text-decoration: none;
}

.nav-menu nav a:hover{
    background-color: #e65540;
}

.menu-trigger{
    text-align: center;
    display: none;
}

























.nav-menu a{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
}

.lang{
    position: absolute;
    top: 10px;
    right: 0;

}

.logo{
    padding-right: 50px;
}

.nav-menu nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu nav ul li{
    padding-left: 25px;
    padding-right: 25px;
    display: inline-block;
}


/*Header content*/

/*DROPDOWN LANG*/

.dropbtn {
    height: 28px;
    width: 54px;
    padding: 5px;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
}

.dropbtn
{
    background: url('../img/russia-2.png') no-repeat left center;
    width: 40px;
    margin-bottom: 3px;
}

.dropbtn::after {
    background: rgba(0, 0, 0, 0) url("../img/arrow-point-to-right-1.png ") no-repeat scroll center center;
    content: "";
    height: 18px;
    position: absolute;
    right: -20px;
    top: 6px;
    width: 16px;
    border-left: 1px solid #f8c51c;
}



/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}







.header-content-block{
    display: flex;
    justify-content: space-between;
}

.h1{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 21px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #f8c51c;
    padding-right: 2px;
    padding-left: 2px;
}

/*HEADER CONTENT --TIMER--*/



.timer:first-of-type a{
    margin-right: 9px;
}

.timer{
    flex-basis: 48%;
}

.timer h1{
    font-family: "HelveticaNeueCondensedBlack";
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.78;
    letter-spacing: 2.7px;
    text-align: left;
    color: #f8c51c;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;

}

.timer h1 span{
    text-transform: lowercase;
    color: #ffffff;
}

.timer .timer-text{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.3px;
    text-align: left;
    color: #ffffff;
    text-transform: lowercase;
}

.timer h2{
    font-family: "HelveticaNeueBold", sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.92;
    letter-spacing: -1.3px;
    text-align: left;
    color: #f8c51c;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
}

.button{
    display: inline-block;
    padding: 15px 12px;
    border: 1px solid #f8c51c;
    border-radius: 3px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #f8c51c;
    font-family: "HelveticaNeue", sans-serif;
}

.open-alert{
    background-color: rgba(248, 197, 28, 0);
}

.open-alert:hover{
    background-color: #f8c51c;
    transition-duration: 0.3s;
}

/*HEADER-CONTENT-REGISTRATION*/


.reg-col .form-header{
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 11px;
    position: relative;
}

.bonus{
    position: absolute;
    bottom: -60px;
    right: -35px;
}

.reg-col .form-header h1{

    font-family: "HelveticaNeueCondensedBold";
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.reg-col .form-header h1 span{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 25px;
}

.reg-col form{
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 3px;
}

#accept{
    display: none;
}

.reg-col form .footer-form{
    text-align: center;
}

.reg-col form .email{
    width: 100%;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: solid 1px #dbdbdb;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    margin-bottom: 15px;
}

.reg-col form .cellphone{
    width: 100%;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: solid 1px #dbdbdb;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    margin-bottom: 15px;
}

.submit-button{
    color: #000;
    margin-top: 40px;
    cursor: pointer;
    font-family: "HelveticaNeueCondensedBold", sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
}


.reg-col form label{
    font-family: "HelveticaNeueLight", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #8f8f8f;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    line-height: 25px;

}

.reg-col form label::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    border-radius: 2px;
}

.down{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -231px;
}

.reg-col form #accept:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #f8c51c;
    border-radius: 2px;
}

.reg-col form #accept{
    display: none;
}

.header-cont{
    position: relative;
}

.how-it-works-section{
    padding-top: 103px;
    padding-bottom: 80px;
    position: relative;
}

.how-it-works-section:after{
    content: "";
    width: 100%;
    height: 3px;
    background-color: #f8c51c;
    position: absolute;
    bottom: 41%;
}


.how-it-works-h2{
    text-align: center;
}

.how-it-works-h2 h2{
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.78;
    letter-spacing: 2.7px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.flex-row{
    display: flex;
    justify-content: center;
}



.img-item-mg{
    margin-right: 15%;
    margin-left: 15%;
}

.img-box{
    text-align: center;
}

.img-text{
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #333333;
}

.img-index{
    z-index: 10;
}

.form-body{
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
}

.intro-reg-form{
    border-radius: 3px;
}

.reg-col{
    flex-basis: 34%;
}

/*3th SECTION*/

.save-money-section{
    background: linear-gradient(256deg, #494949, #232323);
    padding-bottom: 60px;

}

.save-money-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save-money-wraper{
    background-image: url("../img/save-money.svg");
    background-repeat: no-repeat;
    height: 433px;
    background-position: 66%;

}

.save-money-section .save-money-item1{
    flex-basis: 51%;
    margin-top: 91px;
}

.save-money-section .save-money-item1 h2{
    font-family: "HelveticaNeueCondensedBold", sans-serif;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 2.7px;
    text-align: left;
    color: #ffffff;
    margin-bottom: 20px;
}

.save-money-section .save-money-item1 h2 span{
    color: #f8c51c;
}

.save-money-item1 .save-money-item-text{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    position: relative;
}

.save-money-item1 .save-money-item-text:after{
    content: "0,1%";
    position: absolute;
    font-family: "HelveticaNeueBold", sans-serif;
    font-size: 250px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #adadad;
    opacity: 0.05;
    left: -144px;
    bottom: -108px;
}


/*4th SECTION*/

.tovxin-description-section{
    padding-top: 85px;
    padding-bottom: 85px;
}

.tovxin-description-flex{
    display: flex;
    align-items: stretch;
}

.tovxin-desc-text-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.tovxin-desc-text-item .tovxin-desc-text{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 0.9px;
    text-align: left;
    color: #333333;
}

.tovxin-description-flex .tovxin-desc-text-item h2{
    font-family: "LatoBlack", sans-serif;
    font-size: 34px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.3px;
    text-align: left;
    color: #333333;
    text-transform: uppercase;
    border-left: 3px solid #f8c51c;
    padding-left: 9px;
}

/*5th-SECTION*/

.calendar-section{
    background-image: linear-gradient(253deg, #494949, #232323);
    padding-top: 107px;
    padding-bottom: 81px;
}

.calendar-section .calendar-flex-row{
    display: flex;
}

.calendar-flex-col{
    position: relative;
}

.calendar-section .calendar-flex-row .calendar-flex-col .calendar-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 58%;
    padding-top: 25px;
    padding-bottom: 73px;
    padding-left: 25px;
    padding-right: 25px;
    position: relative;
    z-index: 10;
}

.calendar-section .calendar-flex-row .calendar-flex-col .calendar-item2{
    position: absolute;
    top: -75px;
    right: 128px;
}

.calendar-section .calendar-flex-row .calendar-flex-col h3{
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #333333;
    padding-top: 20px;
    padding-bottom: 15px;
}



.calendar-section .calendar-flex-row .calendar-flex-col .calendar-text{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: 0.9px;
    text-align: center;
    color: #333333;
    position: relative;
}

.calendar-section .calendar-flex-row .calendar-flex-col .calendar-text:after{
    content: "";
    background-color: #f8c51c;
    height: 2px;
    width: 30%;
    position: absolute;
    bottom: -30px;
    width: 30%;
    transform: translate(-50%, 0);
    left: 50%;
}

/*6th-Section*/
.advantages-section{
    padding-top: 80px;
    padding-bottom: 10px;
}

.advantages-section .adv-flex-row h2{
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 1.8px;
    text-align: center;
    color: #333333;
    margin-bottom: 50px;
}

.adv-flex-row{
    text-align: center;
}


.adv-item-row{
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.adv-item-row1{
    position: relative;
    margin-bottom: 50px;
}

.adv-item-row1:after{
    content: "";
    height: 1px;
    background-color: #d9d9d9;
    position: absolute;
    width: 100%;
    bottom: 55%;
}

.adv-item-row .adv-item{
    padding-left: 34px;
    padding-right: 34px;
    flex-basis: 33%;
    margin-bottom: 43px;
}

.adv-item4{
    border-right: 1px solid #d9d9d9;
}

.adv-item-row .adv-item1{
    border-right: 1px solid #d9d9d9;
}

.adv-item-row .adv-item3{
    border-left: 1px solid #d9d9d9;
}

.adv-item-row .adv-item6{
    border-left: 1px solid #d9d9d9;
}



.adv-item-row .adv-item img{
    margin-bottom: 10px;
}

.adv-item-row .adv-item h3{
    margin-bottom: 6px;
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 17px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: center;
    color: #333333;
}

.adv-item-row .adv-item .adv-item-text{
    margin-bottom: 24px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.7px;
    text-align: center;
    color: #333333;
}

.footer-section{
    background-image: url("../img/footer.png");
    background-size: cover;
    padding-bottom: 90px;
}

.footer-sec-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-sec-flex h2{
    font-family: "HelveticaNeueCondensedBlack", sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    font-stretch: condensed;
    line-height: 0.78;
    letter-spacing: 2.7px;
    text-align: center;
    color: #f8c51c;
    margin-top: 80px;
    margin-bottom: 40px;
}

.footer-sec-flex .text-footer{
    font-family: "HelveticaNeue", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.03;
    letter-spacing: 0.3px;
    text-align: center;
    color: #ffffff;
}

footer{
    background-color: #333333;
    border-top: 1px solid #fff;
}

.footer-col{
    float: none;
}

.footer-col h3{
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.6px;
    color: #ffffff;
}

 /*MODAL-WINDOWS*/



.reg-modal{
    display: none;
}

.intro-reg-form-modal{
    background-color: #fff;
    padding-bottom: 30px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-header-modal{
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 11px;
    position: relative;
    width: 361px;
}

.form-header-modal h1{
    font-family: "HelveticaNeueCondensedBold", sans-serif;
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: left;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

.form-header-modal h1 span{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.3px;
    text-align: left;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.form-body-modal{
    padding-top: 30px;
    padding-left: 12px;
    padding-right: 12px;
    width: 361px;
}

.form-body-modal .email{
    width: 100%;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: solid 1px #dbdbdb;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    margin-bottom: 15px;
}

.form-body-modal .cellphone{
    width: 100%;
    border-radius: 3px;
    background-color: #f3f3f3;
    border: solid 1px #dbdbdb;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    margin-bottom: 15px;
}

.form-body-modal label{
    font-family: "HelveticaNeueLight", sans-serif;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: #8f8f8f;
    padding-left: 25px;
    cursor: pointer;
    position: relative;
    line-height: 25px;
}

#accept-modal{
    display: none;
}

.form-body-modal label:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #dbdbdb;
    background-color: #f3f3f3;
    border-radius: 2px;
}

.form-body-modal #accept-modal:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #f8c51c;
    border-radius: 2px;
}


.form-body-modal #alert-modal:checked + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    background-color: #f8c51c;
    border-radius: 2px;
}


.alert-submit{
    width: 234px;
    height: 50px;
    border-radius: 3px;
    background-color: #f8c51c;
}

.reg-modal-success{
    width: 361px;
    border-radius: 3px;
    background-color: #333333;
    display: flex;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
}

.reg-modal-success h2{
    font-family: "HelveticaNeueCondensedBold", sans-serif;
    font-size: 31px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #f8c51c;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
}

.reg-modal-success .reg-success-text{
    font-family: "HelveticaNeueCondensedBold", sans-serif;
    font-size: 21px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.modal-submit-button{
    width: 234px;
    text-shadow: none;
}

.reg-modal-success .reg-success-text p{
    margin-bottom: 23px;
}



.footer-form-modal{
    text-align: center;
}

.alert-modal{
    display: none;
}


#alert-modal{
    display: none;
}


.fancybox-wrap fancybox-desktop fancybox-type-inline fancybox-opened{
    width: 0;
}

.fancybox-skin{
    padding: 0 !important;
}

.fancybox-inner{
    width: 0;
}

